<layout-default
  [userInfo]="userInfo"
>
  <ng-container *transloco="let t">
    <div class="categories-wrapper">
      <h1>{{ t('categories.createCategoryTitle') }}</h1>

      <div class="language-selection-buttons">
        <div class="language-selection-button">
          <basic-button
            [label]="'PL'"
            [fillButton]="categoryLanguage === 'pl'"
            (buttonClick)="changeCategoryLanguage('pl')"
          />
        </div>
        <div class="language-selection-button margin">
          <basic-button
            [label]="'EN'"
            [fillButton]="categoryLanguage === 'en'"
            (buttonClick)="changeCategoryLanguage('en')"
          />
        </div>
        <div class="language-selection-button">
          <basic-button
            [label]="'RU'"
            [fillButton]="categoryLanguage === 'ru'"
            (buttonClick)="changeCategoryLanguage('ru')"
          />
        </div>
      </div>

      <basic-input
        [label]="t('input.categoryNameLabel')"
        [placeholder]="t('input.categoryNamePlaceholder')"
        [inputDescription]="t('input.categoryNameDesc')"
        [value]="categoryName"
        (valueChange)="changeCategoryName($event)"
      />
      <basic-input
        [label]="t('input.categoryDescLabel')"
        [placeholder]="t('input.categoryDescPlaceholder')"
        [inputDescription]="t('input.categoryDescDesc')"
        [value]="categoryDescription"
        (valueChange)="changeCategoryDescription($event)"
      />

      <div class="create-button-wrapper">
        <basic-button
          [fillButton]="true"
          [label]="t('button.createCategory')"
          [disabled]="disableCreateCategoryButton()"
          (buttonClick)="createCategory()"
        />
      </div>

      <h1>{{ t('categories.listAllCategories') }}</h1>

      <p *ngIf="allCategories.length === 0">
        {{ t('categories.noCategories') }}
      </p>

      <div class="category-wrapper" *ngFor="let category of allCategories">
        <div class="category-desc">
          <h2 class="category-name" *ngIf="editingCategoryId !== category.id">
            {{ category.categoryName }}
          </h2>
          <basic-input
            [label]="t('input.editCategoryNameLabel')"
            [placeholder]="t('input.editCategoryNamePlaceholder')"
            *ngIf="editingCategoryId === category.id"
            [value]="category.categoryName"
            (valueChange)="category.categoryName = $event"
          />
          <p *ngIf="editingCategoryId !== category.id">{{ category.categoryDescription }}</p>
          <basic-input
            [label]="t('input.editCategoryDescLabel')"
            [placeholder]="t('input.editCategoryDescPlaceholder')"
            *ngIf="editingCategoryId === category.id"
            [value]="category.categoryDescription"
            (valueChange)="category.categoryDescription = $event"
          />
          <p class="category-desc-p">
            {{ t('categories.categoryLanguage', { lang: category.categoryLanguage.toUpperCase() }) }}
          </p>
          <p class="category-desc-p">
            {{ t('categories.categoryCreatedAt', { createdAt: dayjs(category.createdAt).format('YYYY/MM/DD HH:mm:ss') }) }}
          </p>
          <p class="category-desc-p">
            {{ t('categories.categoryUpdatedAt', { updatedAt: dayjs(category.updatedAt).format('YYYY/MM/DD HH:mm:ss') }) }}
          </p>
        </div>

        <div class="category-btns">
          <div class="edit-category-btn-wrapper">
            <basic-button
              [label]="t('button.editCategory')"
              (buttonClick)="editingCategoryId = category.id"
              *ngIf="editingCategoryId !== category.id"
            />
            <basic-button
              [label]="t('button.saveChanges')"
              [fillButton]="true"
              *ngIf="editingCategoryId === category.id"
              (buttonClick)="editCategory(category.id)"
              [disabled]="!category.categoryName || !category.categoryDescription"
            />
          </div>
          <basic-button
            [label]="t('button.deleteCategory')"
            [danger]="true"
            (buttonClick)="deleteCategory(category.id)"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-default>
