<div *ngIf="qrCode && showQr" class="qr-code-wrapper">
  <img
    class="qr-code"
    [ngSrc]="qrCode"
    (click)="showQr = false"
    width="200"
    height="200"
    alt="qr"
  >
</div>
<p
  class="paragraph p-center"
  [ngClass]="{ 'on-white': onWhite }"
  *ngIf="qrCode && showQr"
>
  If you are unable to scan the QR code, click the QR code and manually add the secret to the authentication application or password manager.
</p>

<div *ngIf="qrCode && !showQr">
  <basic-input
    [label]="'MFA Token'"
    [value]="twoFaToken"
    [readOnly]="true"
    [onWhite]="true"
    [inputDescription]="'Paste this code into the authenticator application or in your password manager. Make sure you store this token in the secure manner.'"
  />
</div>
<p
  class="paragraph p-center pointer"
  [ngClass]="{ 'on-white': onWhite }"
  *ngIf="qrCode && !showQr"
  (click)="showQr = true"
>To show the QR code back, click here.</p>

<div *ngIf="!qrCode" class="spinner-wrapper"><basic-spinner/></div>

<div class="qr-code-input-wrapper">
  <basic-input-mfa
    [onWhite]="true"
    (mfaCode)="code.emit($event)"
  />
</div>
