<div *ngIf="sections.length > 0">
  <h2>Table of Contents</h2>
  <ol>
    <li *ngFor="let section of sections">
      {{ section.name }}
      <ol class="table-of-contents-ol" *ngIf="section.subsections && section.subsections.length > 0">
        <li *ngFor="let subsection of section.subsections">
          {{ subsection.name }}
          <ol class="table-of-contents-ol" *ngIf="subsection.subsections && subsection.subsections.length > 0">
            <li *ngFor="let subsubsection of subsection.subsections">{{ subsubsection.name }}</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</div>
