<div class="container">
  <div class="wrapper">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mikhail Bahdashych Blog</h1>
      <h2 class="second-title flex">
        <span>Welcome back&nbsp;</span>
        <basic-emoji emoji="raised-hand.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">

      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 1 && isMfaNotSet"
      >
        <page-component-mfa
          [email]="email"
          [password]="password"
          (confirmUserMfa)="handleLogIn()"
        />
      </div>

      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 1 && isRecoveryKeysNotSet"
      >
        <page-recovery-keys
          [email]="email"
          [password]="password"
          (confirmRecoveryKeysSetup)="step = 2"
        />
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
        <h2 class="third-title">Log in</h2>
        <basic-input
          label="Provide an email"
          placeholder="Email"
          type="email"
          errorMessage="Wrong email format"
          [value]="email"
          (valueChange)="email = $event"
          (incorrectInput)="incorrectEmail = $event"
        />
        <basic-input
          label="Provide password"
          placeholder="Password"
          type="password"
          errorMessage="Wrong password format"
          [value]="password"
          (valueChange)="password = $event"
          (incorrectInput)="incorrectPassword = $event"
        />
        <basic-button
          label="Log in"
          [fillButton]="true"
          [disabled]="incorrectCredentials()"
          (buttonClick)="handleLogIn()"
        />
        <div class="last-button">
          <basic-button
            label="Create account"
            (buttonClick)="handleRedirect('registration')"
          />
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 3">
        <h2 class="third-title">Additional verification</h2>

        <div *ngIf="isMfaRequired">
          <p class="paragraph mfa-title-wrapper">Provide code</p>
          <basic-input-mfa (mfaCode)="mfaCode = $event" />
        </div>

        <div class="last-button">
          <basic-button
            label="Login"
            [fillButton]="true"
            (buttonClick)="handleLogIn()"
          />
        </div>
      </div>
    </div>

    <div class="theme-toggle-wrapper">
      <basic-theme-toggle />
    </div>
  </div>
</div>
