<div class="preview-wrapper">
  <div class="preview-hero-section">
    <div class="blog-post-header-wrapper">
      <div class="category-holder">
        <a class="blog-category-link">{{ articleCategory }}</a>
      </div>
      <div class="heading-holder">
        <h1 class="blog-article-heading">{{ articleName }}</h1>
      </div>
      <div class="additional-info-holder">
        <h3 class="blog-additional-info">{{ dayjs(articleCreatedAt).format('MMMM D, YYYY') }}</h3>
      </div>
    </div>
  </div>

  <div class="main-image-section">
    <div class="image-wrapper">
      <img
        *ngIf="!articlePicture"
        [src]="staticStorage + articleImage"
        class="preview-image-cover"
        alt="article-picture"
      />
      <img
        *ngIf="articlePicture"
        [src]="articlePicture"
        class="preview-image-cover"
        alt="article-picture"
      />
    </div>
  </div>

  <div class="blog-article-section">
    <div class="rich-text-block" [innerHTML]="articleContent"></div>
  </div>
</div>
