<layout-credentials
  renderSide="right"
  headerLink="login"
  animation="animation4.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Bahdashych on Security</h1>
      <h2 class="second-title flex">
        <span>{{ t('reg.niceToSeeYou') }}&nbsp;</span>
        <basic-emoji emoji="rocket.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div
      class="window-wrapper-stepped"
      [ngClass]="{ 'show': step === 1 }"
      [@fadeInOut]="true"
    >
      <h2 class="third-title">{{ t('reg.registration') }}</h2>
      <basic-input
        type="email"
        [label]="t('input.email')"
        [placeholder]="t('input.provideEmail')"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="email"
        (valueChange)="email = $event"
        (incorrectInput)="incorrectEmail = $event"
      />

      <page-component-create-password
        (passwordChange)="password = $event"
        (incorrectInput)="incorrectPassword = $event"
      />

      <div class="last-button">
        <div class="link-wrapper">
          <basic-link
            [label]="t('link.alreadyHaveAccount')"
            href="/login"
          />
        </div>
        <div class="button-wrapper">
          <basic-button
            [label]="t('button.createAcc')"
            (buttonClick)="nextStep()"
            [disabled]="wrongCredentials({ includeAll: false })"
          />
        </div>
      </div>
    </div>

    <div
      class="window-wrapper-stepped"
      [ngClass]="{ 'show': step === 2 }"
      [@fadeInOut]="true"
    >
      <h2 class="third-title">{{ t('reg.registration') }}</h2>
      <basic-input
        [label]="t('input.firstName')"
        [placeholder]="t('input.provideFirstName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="firstName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="firstName = $event"
        (incorrectInput)="incorrectFirstName = $event"
      />
      <basic-input
        [label]="t('input.lastName')"
        [placeholder]="t('input.provideLastName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="lastName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="lastName = $event"
        (incorrectInput)="incorrectLastName = $event"
      />
      <basic-checkbox
        [checked]="false"
        (checkedChange)="tac = $event"
      >
        <span content class="tac-box">
          {{ t('reg.iAccept') }}&nbsp;<basic-link
          [label]="t('reg.tac')" href="/terms-and-conditions"
        />
        </span>
      </basic-checkbox>
      <div class="last-button">
        <basic-button
          [label]="t('button.createAcc')"
          (buttonClick)="handleRegistration()"
          [disabled]="wrongCredentials({ includeAll: true })"
          [fillButton]="true"
        />
      </div>
    </div>

    <div
      class="window-wrapper-stepped"
      [ngClass]="{ 'show': step === 3 }"
      [@fadeInOut]="true"
    >
      <h2 class="third-title flex">
        <span>{{ t('reg.registration') }}&nbsp;</span>
        <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
      </h2>

      <p class="paragraph">{{ t('reg.registrationComplete') }}</p>
      <p class="paragraph">{{ t('reg.confirmLinkSent') }}</p>
      <p class="paragraph">{{ t('reg.whenAddressConfirmed') }}</p>

      <div class="last-button">
        <basic-button
          [label]="t('button.logIn')"
          (buttonClick)="handleRedirect('login')"
        />
      </div>
    </div>
  </ng-container>
</layout-credentials>
