@import 'variables';

.create-experience-wrapper {
  width: 60%;
  margin: 0 auto 150px auto;
}

.experience-main-picture {
  cursor: pointer;
  object-fit: cover;
}

.create-button-wrapper {
  margin-top: 20px;
}

.language-selection-buttons {
  display: flex;
}

.language-selection-button {
  width: 100%;

  &.margin {
    margin: 0 5px
  }
}
