<layout-default
  [userInfo]="userInfo"
>
  <ng-container *transloco="let t">
    <div class="create-experience-wrapper">
      <h1>{{ t('exp.createExpTitle') }}</h1>

      <div class="language-selection-buttons">
        <div class="language-selection-button">
          <basic-button
            [label]="'PL'"
            [fillButton]="experienceLanguage === 'PL'"
            (buttonClick)="changeExperienceLanguage('PL')"
          />
        </div>
        <div class="language-selection-button margin">
          <basic-button
            [label]="'EN'"
            [fillButton]="experienceLanguage === 'EN'"
            (buttonClick)="changeExperienceLanguage('EN')"
          />
        </div>
        <div class="language-selection-button">
          <basic-button
            [label]="'RU'"
            [fillButton]="experienceLanguage === 'RU'"
            (buttonClick)="changeExperienceLanguage('RU')"
          />
        </div>
      </div>

      <basic-input
        [label]="t('input.experienceCompanyNameLabel')"
        [placeholder]="t('input.experienceCompanyNamePlaceholder')"
        [inputDescription]="t('input.experienceCompanyNameDesc')"
        [value]="companyName"
        (valueChange)="modifyCompanyName($event)"
      />
      <basic-input
        [label]="t('input.experienceCompanyDescLabel')"
        [placeholder]="t('input.experienceCompanyDescPlaceholder')"
        [inputDescription]="t('input.experienceCompanyDescDesc')"
        [value]="companyDescription"
        (valueChange)="modifyCompanyDescription($event)"
      />
      <basic-input
        [label]="t('input.experienceCompanyLinkLabel')"
        [placeholder]="t('input.experienceCompanyLinkPlaceholder')"
        [inputDescription]="t('input.experienceCompanyLinkDesc')"
        [errorMessage]="t('input.wrongFQDN')"
        [value]="companyLink"
        (valueChange)="modifyCompanyLink($event)"
      />
      <basic-input
        [label]="t('input.experienceCompanyLinkTitleLabel')"
        [placeholder]="t('input.experienceCompanyLinkTitlePlaceholder')"
        [inputDescription]="t('input.experienceCompanyLinkTitleDesc')"
        [value]="companyLinkTitle"
        (valueChange)="modifyCompanyLinkTitle($event)"
      />
      <basic-input
        [label]="t('input.authorQueryLabel')"
        [placeholder]="t('input.authorQueryPlaceholder')"
        [inputDescription]="t('input.authorQueryDesc')"
        [value]="getAuthorName()"
        (valueChange)="handleAuthorQuery($event)"
      />

      <div class="authors-list" *ngIf="authors.length > 0">
        <p
          class="author-item"
          *ngFor="let author of authors"
          (click)="selectAuthor(author)"
        >{{ author.firstName }} {{ author.lastName }}</p>
      </div>

      <basic-input
        [label]="t('input.expObtainedSkillLabel')"
        [placeholder]="t('input.expObtainedSkillPlaceholder')"
        [inputDescription]="t('input.expObtainedSkillDesc')"
        [value]="experienceObtainedSkill"
        (valueChange)="experienceObtainedSkill = $event"
        (onSpace)="addObtainedSkills()"
      />

      <div *ngIf="getExperienceObtainedSkills().length > 0" class="exp-skills-wrapper">
        <div *ngFor="let skill of getExperienceObtainedSkills()">
          <p class="exp-skill" (click)="deleteObtainedSkill(skill)">{{ skill }}</p>
        </div>
      </div>

      <div class="create-exp-dates">
        <div class="margin-right">
          <basic-input
            type="date"
            [label]="t('input.experienceStartDateLabel')"
            [placeholder]="t('input.experienceStartDatePlaceholder')"
            [inputDescription]="t('input.experienceStartDateDesc')"
            [value]="startDate"
            (valueChange)="startDate = $event"
          />
        </div>
        <div class="margin-left">
          <basic-input
            type="date"
            [label]="t('input.experienceEndDateLabel')"
            [placeholder]="t('input.experienceEndDatePlaceholder')"
            [inputDescription]="t('input.experienceEndDateDesc')"
            [value]="endDate"
            (valueChange)="endDate = $event"
          />
        </div>
      </div>

      <basic-button
        *ngIf="!addingExperiencePosition"
        [label]="t('button.addNewExperiencePosition')"
        (buttonClick)="addingExperiencePosition = true"
      />

      <basic-button
        *ngIf="addingExperiencePosition"
        [label]="t('button.addExperiencePosition')"
        [disabled]="addingExperiencePositionDisabled()"
        (buttonClick)="addExperiencePosition()"
      />

      <div
        class="create-experience-inputs"
        *ngIf="addingExperiencePosition"
      >
        <div class="create-experience-inputs-block margin-right">
          <basic-input
            [label]="t('input.expPositionTitleLabel')"
            [placeholder]="t('input.expPositionTitlePlaceholder')"
            [inputDescription]="t('input.expPositionTitleDesc')"
            [value]="experiencePositionTitle"
            (valueChange)="experiencePositionTitle = $event"
          />
          <basic-input
            [label]="t('input.expPositionDescLabel')"
            [placeholder]="t('input.expPositionDescPlaceholder')"
            [inputDescription]="t('input.expPositionDescDesc')"
            [value]="experiencePositionDescription"
            (valueChange)="experiencePositionDescription = $event"
          />
        </div>
        <div class="create-experience-inputs-block margin-left">
          <basic-input
            type="date"
            [label]="t('input.expPositionStartDateLabel')"
            [placeholder]="t('input.expPositionStartDatePlaceholder')"
            [inputDescription]="t('input.expPositionStartDateDesc')"
            [value]="dayjs(experiencePositionStartDate).format('YYYY-MM-DD')"
            (valueChange)="changeExperiencePositionStartDate($event)"
          />
          <basic-input
            type="date"
            [label]="t('input.expPositionEndDateLabel')"
            [placeholder]="t('input.expPositionEndDatePlaceholder')"
            [inputDescription]="t('input.expPositionEndDateDesc')"
            [value]="dayjs(experiencePositionEndDate).format('YYYY-MM-DD')"
            (valueChange)="changeExperiencePositionEndDate($event)"
          />
        </div>
      </div>

      <div *ngIf="getExperienceByLanguage().experiencePositions!.length > 0">
        <div
          class="experience-position-box"
          *ngFor="let experiencePosition of getExperienceByLanguage().experiencePositions"
        >
          <div class="create-experience-inputs-block margin-right">
            <basic-input
              [label]="t('input.expPositionTitleLabel')"
              [placeholder]="t('input.expPositionTitlePlaceholder')"
              [inputDescription]="t('input.expPositionTitleDesc')"
              [value]="experiencePosition.positionTitle"
              (valueChange)="experiencePosition.positionTitle = $event"
            />
          </div>
          <div class="create-experience-inputs-block margin-right">
            <basic-input
              [label]="t('input.expPositionDescLabel')"
              [placeholder]="t('input.expPositionDescPlaceholder')"
              [inputDescription]="t('input.expPositionDescDesc')"
              [value]="experiencePosition.positionDescription"
              (valueChange)="experiencePosition.positionDescription = $event"
            />
          </div>
          <div class="create-experience-inputs-block margin-right">
            <basic-input
              type="date"
              [label]="t('input.expPositionStartDateLabel')"
              [placeholder]="t('input.expPositionStartDatePlaceholder')"
              [inputDescription]="t('input.expPositionStartDateDesc')"
              [value]="dayjs(experiencePosition.positionStartDate).format('YYYY-MM-DD')"
              (valueChange)="changeExperiencePositionDate(experiencePosition, 'start', $event)"
            />
          </div>
          <div class="create-experience-inputs-block">
            <basic-input
              type="date"
              [label]="t('input.expPositionEndDateLabel')"
              [placeholder]="t('input.expPositionEndDatePlaceholder')"
              [inputDescription]="t('input.expPositionEndDateDesc')"
              [value]="dayjs(experiencePosition.positionEndDate).format('YYYY-MM-DD')"
              (valueChange)="changeExperiencePositionDate(experiencePosition, 'end', $event)"
            />
          </div>
          <div class="create-experience-inputs-block margin-left button">
            <basic-button
              [label]="t('button.deleteExperiencePosition')"
              [danger]="true"
              (buttonClick)="deleteExperiencePosition(experiencePosition)"
            />
          </div>
        </div>
      </div>

      <div class="select-photo-btn-wrapper">
        <basic-button
          [label]="t('button.selectPhoto')"
          (click)="fileInput.click()"
        />
      </div>

      <div class="picture-preview">
        <img
          *ngIf="companyPicture"
          [src]="companyPicture"
          (click)="clearProfilePicture()"
          class="experience-main-picture"
          alt="experience-picture"
        />
      </div>

      <input
        type="file"
        accept="image/*"
        (change)="selectCompanyPicture($event)"
        #fileInput
        hidden
      />

      <div class="create-button-wrapper">
        <basic-button
          [fillButton]="true"
          [label]="t('button.createExperience')"
          [disabled]="disableCreateExpButton()"
          (buttonClick)="createExperience()"
        />
      </div>
    </div>
  </ng-container>
</layout-default>
