<div>
  <basic-input
    type="password"
    label="Provide password"
    placeholder="Password"
    errorMessage="Password rules are not followed"
    [onWhite]="onWhite"
    [value]="password"
    (valueChange)="onInput($event, passwordRepeat)"
    (incorrectInput)="incorrectPassword = $event"
    (passwordErrors)="passwordErrors = $event"
  />
  <basic-input
    type="password-repeat"
    label="Repeat your password"
    placeholder="Password repeat"
    errorMessage="Wrong password format or password mismatch"
    [onWhite]="onWhite"
    [showError]="showPasswordRepeatError"
    [value]="passwordRepeat"
    (valueChange)="onInput(password, $event)"
  />
</div>

<div *ngIf="password" class="errors-box" [@fadeInOut]="password">
  <div *ngFor="let error of passwordErrors">
    <div class="error-item" [class.show-error]="error.error">
      <div class="circle" [ngClass]="{ 'error': error.error }"></div>
      <p class="error-text" [ngClass]="{ 'on-white': onWhite }">{{ error.text }}</p>
    </div>
  </div>
</div>
