<img
  [src]="authorsStaticStorage + image"
  [alt]="image"
  loading="lazy"
  class="image-cover"
>
<div class="about-block-info">
  <p class="paragraph eyebrow">
    <strong class="bold-text-6">
      <em class="italic-text-2">{{ title }}</em>
    </strong>
  </p>
  <h2 class="about-cell-name-two">{{ firstName }} {{ lastName }}</h2>
  <p class="paragraph intro-paragraph inhouse about-cell-desc">{{ description }}</p>
  <div class="about-cell-social-link-cell">
    <basic-social-link
      *ngFor="let socialLink of socialLinks"
      [link]="socialLink.link"
      [title]="socialLink.title"
    />
  </div>
</div>
