@import 'variables';

.author-date {
  font-size: 12px;
  opacity: .5;
  margin: 3px 0;
}

.select-photo-btn-wrapper {
  margin: 20px 0;
}

.picture-preview {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}


.social-box {
  display: flex;
}

.social-box-item {
  width: 100%;

  &.margin {
    margin: 0 10px;
  }

  &.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
}
