@import 'variables';

.create-exp-dates {
  display: flex;

  .margin-right {
    width: 100%;
    margin-right: 5px;
  }

  .margin-left {
    width: 100%;
    margin-left: 5px;
  }
}

.select-photo-btn-wrapper {
  margin: 20px 0;
}

.picture-preview {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.authors-list {
  margin-bottom: 20px;
}

.author-item {
  border: 1px solid var(--border-color);
  transition: .2s;
  cursor: pointer;
  padding: 6px;

  &:hover {
    background: var(--color-hover);
  }
}

.exp-skills-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.exp-skill {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-right: 5px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background: var(--color-hover);
  }
}

.experience-position-box {
  display: flex;
}

.create-experience-inputs {
  display: flex;
}

.create-experience-inputs-block {
  width: 100%;

  &.margin-right {
    margin-right: 5px;
  }

  &.margin-left {
    margin-left: 5px;
  }

  &.button {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
}

.exp-main-picture {
  cursor: pointer;
  object-fit: cover;
  max-width: 300px;
}
