<layout-credentials
  mainTitle="Mikhail Bahdashych Blog"
  secondTitle="Account confirmation"
  titleEmoji="locked-with-key.png"
>
  <div class="window-container">
    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="!accountConfirmationError">
      <div *ngIf="step === 1" [@fadeInOut]="true">
        <div *ngIf="!isAccountConfirmed">
          <h2 class="third-title">Confirm your account</h2>
          <p class="paragraph">Confirming your account... Doing magic in in the background...</p>
        </div>

        <div *ngIf="isAccountConfirmed && isMfaNotSet">
          <h2 class="third-title flex">
            <span>Congratulations!&nbsp;</span>
            <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
          </h2>

          <p class="paragraph">Your account has been successfully confirmed and we are about to finish. But before you can log in, let's secure your account a little.</p>

          <p class="paragraph">Click the button below to continue.</p>
        </div>

        <div *ngIf="isAccountConfirmed && isRecoveryKeysNotSet">
          <h2 class="third-title flex">
            <span>Congratulations!&nbsp;</span>
            <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
          </h2>

          <p class="paragraph">Your account has been successfully confirmed and we are about to finish. But before you can log in, let's secure your account a little.</p>

          <p class="paragraph">In case if you lose access to your mobile phone or authenticator application, it would be nice to have another way for you to recover your account.</p>
          <p class="paragraph">Therefore, you will need to create passphrase and get your set of recovery keys.</p>

          <p class="paragraph">Click the button below to continue.</p>
        </div>

        <div class="last-button">
          <basic-button
            label="Continue"
            [disabled]="!isAccountConfirmed"
            (buttonClick)="step = 2"
          />
        </div>
      </div>

      <div *ngIf="step === 2 && isMfaNotSet" [@fadeInOut]="true">
        <page-component-mfa
          [hash]="hash"
          (confirmUserMfa)="confirmUserAccount(hash)"
        />
      </div>

      <div *ngIf="step === 2 && isRecoveryKeysNotSet" [@fadeInOut]="true">
        <page-recovery-keys
          [hash]="hash"
          (confirmRecoveryKeysSetup)="step = 3"
        />
      </div>

      <div *ngIf="step === 3" [@fadeInOut]="true">
        <h2 class="third-title flex">
          <span>Hello!&nbsp;</span>
          <basic-emoji emoji="waving-hand.png" [width]="32" [height]="32"/>
        </h2>

        <p class="paragraph">Now, your account fully setup and secured. You are good to go!</p>

        <p class="paragraph">
          <span>You will be able to change the way of additional security to a different one later on, in the settings of your account,&nbsp;</span>
          <b>but at least one of them you must have.</b>
        </p>

        <div class="last-button">
          <basic-button
            label="Log in"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="accountConfirmationError">
      <h2 class="third-title flex">
        <span>Error!&nbsp;</span>
        <basic-emoji emoji="cross-mark.png" [width]="24" [height]="24"/>
      </h2>

      <p class="paragraph">Oops... It seems like you have already confirmed your account or confirmation hash not found.</p>
      <p class="paragraph">If your account's email address is confirmed, you can feel free to log in to your account. Otherwise, check the confirmation link for typos.</p>

      <div class="last-button">
        <basic-button
          label="Log in"
          (buttonClick)="handleRedirect('login')"
        />
      </div>
    </div>
  </div>
</layout-credentials>
