@import 'variables';

.article-wrapper {
  width: 60%;
  margin: 30px auto;
  padding-bottom: 60px;
}

.article-mgmt-buttons {
  display: flex;
}

.article-mgmt-button {
  width: 100%;

  &.right {
    margin-right: 5px;
  }

  &.left {
    margin-left: 5px;
  }
}

.article-second-field {
  opacity: .5;
}

.article-tags-wrapper {
  display: flex;
  margin: 20px 0;
}

.article-tag {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-right: 5px;
}

.edit-button-wrapper {
  margin: 20px 0;
}

.article-main-picture {
  cursor: pointer;
  object-fit: cover;
}

.picture-preview {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
