<layout-default
  [userInfo]="userInfo"
>
  <div *ngIf="article" class="article-wrapper">
    <div class="article-mgmt-buttons">
      <div class="article-mgmt-button right">
        <basic-button
          [label]="'Edit article'"
          (buttonClick)="articleEditMode = !articleEditMode"
        />
      </div>
      <div class="article-mgmt-button left">
        <basic-button
          [label]="'Delete article'"
          [danger]="true"
          (buttonClick)="deleteArticle()"
        />
      </div>
    </div>

    <div *ngIf="!articleEditMode">
<!--      <h1>{{ article.articleName }}</h1>-->
<!--      <p>{{ article.articleDescription }}</p>-->
<!--      <p class="article-second-field">Created at: {{ dayjs(article.createdAt).format('YYYY/MM/DD HH:mm:ss') }}</p>-->
<!--      <p class="article-second-field">Updated at: {{ dayjs(article.updatedAt).format('YYYY/MM/DD HH:mm:ss') }}</p>-->

<!--      <div class="article-tags-wrapper">-->
<!--        <div *ngFor="let articleTag of article.articleTags">-->
<!--          <p class="article-tag">{{ articleTag }}</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <img-->
<!--        [src]="staticStorage + article.articleImage"-->
<!--        [alt]="article.articleName"-->
<!--      >-->
    </div>

    <div *ngIf="articleEditMode"></div>
  </div>
</layout-default>
