<basic-input
  type="password"
  [onWhite]="onWhite"
  [label]="'Password'"
  [placeholder]="'Provide your password'"
  [errorMessage]="'Wrong password format. Not all rules are followed!'"
  [value]="password"
  (valueChange)="onInput($event, passwordRepeat)"
  (incorrectInput)="incorrectPassword = $event"
  (passwordErrors)="passwordErrors = $event"
/>
<basic-input
  type="password-repeat"
  [onWhite]="onWhite"
  [label]="'Password repeat'"
  [placeholder]="'Repeat your password'"
  [errorMessage]="'Wrong password format or password mismatch'"
  [showError]="showPasswordRepeatError"
  [value]="passwordRepeat"
  (valueChange)="onInput(password, $event)"
/>

<div *ngIf="password" class="errors-box" [@fadeInOut]="password">
  <div *ngFor="let error of passwordErrors">
    <div class="error-item" [class.show-error]="error.error">
      <div class="circle" [ngClass]="{ 'error': error.error }"></div>
      <p class="error-text" [ngClass]="{ 'on-white': onWhite }">{{ error.text }}</p>
    </div>
  </div>
</div>
