@import 'variables';

.authors-wrapper {
  width: 60%;
  margin: 30px auto 150px auto;
}

.author-wrapper {
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;

  h1, h3 {
    margin: 0;
  }
}

.author-control-buttons {
  display: flex;
}

.author-control-button-wrapper {
  width: 100%;

  &.margin {
    margin: 0 10px;
  }
}

.pagination-container {
  min-height: 250px;
  display: flex;
  justify-content: center;
}

.author-info-container {
  display: flex;
  justify-content: space-between;
}

.author-picture-preview {
  max-width: 300px;
  border-radius: 5px;
}

.author-info-text-fields {
  padding-right: 10px;
}
