@import 'variables';

.preview-h1 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-h5 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-h6 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
}

.preview-paragraph {
  font-family: var(--secondary-font), sans-serif;
  color: #cacaca;
  margin-bottom: 10px;
  font-size: .75rem;
  line-height: 1.5;
}

.preview-a {
  border-bottom: 1px solid var(--lines);
  color: #fff;
  font-family: Roboto Mono, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all .35s;

  &:hover {
    border-bottom-color: #fff;
  }
}

.preview-ul {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Roboto Mono, sans-serif;
  font-size: 1em;
}

.preview-ol {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Roboto Mono, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.preview-li {
  color: #fff;
  font-family: Roboto Mono, sans-serif;
  font-size: 1rem;
}

.preview-blockquote {
  color: #fff;
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-family: Roboto Mono, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.preview-span-link {
  font-size: var(--standard-subheading);
  cursor: pointer;
}

.preview-hero-section {
  display: flex;
  overflow: hidden;
  height: 35vh;
  min-height: 35vh;
  padding: 5vw 5vw 2.5vw;
  justify-content: flex-start;
  align-items: flex-end;

  @media screen and (max-width: 991px) {
    height: 70vh;
  }

  @media screen and (max-width: 479px) {
    padding-bottom: 5vw;
  }
}

.preview-bold-text-6 {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  line-height: 20px;
}

.preview-italic-text-2 {
  font-size: var(--standard-heading);
}

.preview-wrapper {
  background-color: #1a1a1a;
}

.preview-image-cover {
  object-fit: cover;
  width: 100%;
  height: 30vh;
  margin-bottom: 18px;
}

.preview-intro-paragraph {
  font-size: var(--standard-subheading);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 400;

  @media screen and (max-width: 991px) {
    font-size: .75rem;
    text-align: right;
    justify-content: flex-end;
    width: 80%;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    font-size: .75rem;
    width: 90%;
  }

  @media screen and (max-width: 479px) {
    font-size: .75rem;
    width: 90%;
    margin-bottom: 1em;

    &.inhouse {
      text-align: left;
    }
  }
}

.preview-about-block-info {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em;
  display: flex;
}

.preview-eyebrow {
  margin-bottom: 0;
  font-size: 1rem;
}

.preview-about-cell-name-two {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 700;
}

.preview-about-cell-desc {
  margin-bottom: 1.5em;
}

.preview-about-cell-social-link-cell {
  text-align: right;
  width: 100%;
}
