<header [ngClass]="{'hide': scrolled}">
  <div class="header-content">
    <div class="header-side">
      <img
        class="sidebar-burger"
        *ngIf="showHeaderBurger"
        (click)="openSidebar.emit()"
        [ngSrc]="staticStorageLink + '/icons/hamburger.svg'"
        [width]="25"
        [height]="25"
        alt="burger"
      >
      <h3
        class="sidebar-header"
        *ngIf="!showHeaderBurger"
      >My Personal Blog</h3>
    </div>

    <div class="header-side" *ngIf="isUserLoggedIn">
      <div class="user-account-wrapper" (click)="handleRedirect('account/articles')">
        <p class="user-account-title">Your articles</p>
        <img
          class="user-account-icon"
          [ngSrc]="userIcon"
          [width]="24"
          [height]="24"
          alt="user"
        >
      </div>
      <div class="header-button-wrapper">
        <basic-button
          [label]="'Log Out'"
          [danger]="true"
          (buttonClick)="logout()"
        />
      </div>
    </div>
  </div>
</header>
