<layout-default
  [userInfo]="userInfo"
>
  <ng-container *transloco="let t">
    <div class="articles-wrapper">
      <h1>{{ t('articles.allArticles') }}</h1>
      <basic-input
        [label]="t('input.articleQueryLabel')"
        [placeholder]="t('input.articleQueryPlaceholder')"
        [inputDescription]="t('input.articleQueryDesc')"
        [value]="articleSearchQuery"
        (valueChange)="handleArticleQuery($event)"
      />

      <div
        class="article-wrapper"
        *ngFor="let article of articles"
      >
        <div class="article-info-container">
          <div>
            <h1>{{ article.articleName }}</h1>
            <h3>{{ article.articleDescription }}</h3>
            <br>
            <p>{{ t('articles.articleCreatedAt', { createdAt: dayjs(article.createdAt).format('YYYY/MM/DD HH:mm:ss') }) }}</p>
            <p>{{ t('articles.articleUpdatedAt', { updatedAt: dayjs(article.updatedAt).format('YYYY/MM/DD HH:mm:ss') }) }}</p>
            <p>{{ t('articles.articleLanguage', { articleLanguage: article.articleLanguage.toUpperCase() }) }}</p>
            <p>{{ t('articles.articleCategory', { categoryName: article.category.categoryName }) }}</p>

            <div class="article-tags-wrapper">
              <div *ngFor="let articleTag of article.articleTags">
                <p class="article-tag">{{ articleTag }}</p>
              </div>
            </div>
          </div>
          <div>
            <img
              class="article-picture-preview"
              [src]="staticStorage + article.articleImage"
              alt="article-picture"
            >
          </div>
        </div>

        <div class="article-btns-wrapper">
          <div class="article-btn-wrapper right">
            <basic-button
              [label]="t('button.editArticle')"
              (click)="handleArticleRedirect(article)"
            />
          </div>
          <div class="article-btn-wrapper">
            <basic-button
              [fillButton]="article.articlePosted"
              [label]="article.articlePosted ? t('button.deleteArticlePosted') : t('button.postArticle')"
              (buttonClick)="changePublishArticleStatus(article.id)"
            />
          </div>
          <div class="article-btn-wrapper left">
            <basic-button
              [label]="t('button.deleteArticle')"
              [danger]="true"
              (buttonClick)="deleteArticle(article.id)"
            />
          </div>
        </div>
      </div>

      <div *ngIf="articles.length === 0">
        <h1>{{ t('articles.noArticles') }}</h1>
      </div>

      <div class="pagination-container">
        <basic-pagination
          [itemsPerPageLabel]="t('dropdown.articlesPerPage')"
          [currentPage]="page"
          [itemsPerPage]="pageSize"
          [totalItems]="totalItems"
          (setCurrentPage)="setCurrentPage($event)"
          (setItemsPerPage)="setArticlesPerPage($event)"
          (fetchItems)="listArticles()"
        />
      </div>
    </div>
  </ng-container>
</layout-default>
