<layout-credentials
  renderSide="left"
  headerLink="registration"
  animation="animation2.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="false"
>
  <div class="welcome-title" [@fadeInOut]="true">
    <h1 class="main-title">Personal Blog</h1>
    <h2 class="second-title flex">
      <span>Welcome back&nbsp;</span>
    </h2>
  </div>

  <div class="window-container">
    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
      <h2 class="third-title">{{ t('login.logIn') }}</h2>
      <basic-input
        type="email"
        [label]="t('input.email')"
        [placeholder]="t('input.provideEmail')"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="email"
        (valueChange)="email = $event"
        (incorrectInput)="incorrectEmail = $event"
      />
      <basic-input
        type="password"
        [label]="t('input.providePass')"
        [placeholder]="t('input.pass')"
        [errorMessage]="t('input.wrongPassFormat')"
        [value]="password"
        (valueChange)="password = $event"
        (incorrectInput)="incorrectPassword = $event"
      />
      <div class="last-button">
        <basic-button
          [label]="t('button.logIn')"
          [disabled]="incorrectCredentials()"
          (buttonClick)="handleLogIn()"
        />
      </div>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 3">
      <h2 class="third-title">{{ t('login.addVerification') }}</h2>

      <div *ngIf="isMfaRequired">
        <p class="paragraph mfa-title-wrapper">{{ t('login.mobileCode') }}</p>
        <basic-input-mfa (mfaCode)="mfaCode = $event" />
      </div>

      <div class="last-button">
        <basic-button
          [label]="t('button.logIn')"
          [fillButton]="true"
          [disabled]="loginMfaButtonDisabled()"
          (buttonClick)="handleLogIn()"
        />
      </div>
    </div>
  </div>
</layout-credentials>
