<layout-default
  [userInfo]="userInfo"
>
  <ng-container *transloco="let t">
    <div class="create-author-wrapper">
      <h1>{{ t('authors.createAuthorTitle') }}</h1>

      <basic-input
        [label]="t('input.authorFirstNameLabel')"
        [placeholder]="t('input.authorFirstNamePlaceholder')"
        [inputDescription]="t('input.authorFirstNameDesc')"
        [value]="firstName"
        (valueChange)="firstName = $event"
      />
      <basic-input
        [label]="t('input.authorLastNameLabel')"
        [placeholder]="t('input.authorLastNamePlaceholder')"
        [inputDescription]="t('input.authorLastNameDesc')"
        [value]="lastName"
        (valueChange)="lastName = $event"
      />
      <basic-input
        [label]="t('input.authorTitleLabel')"
        [placeholder]="t('input.authorTitlePlaceholder')"
        [inputDescription]="t('input.authorTitleDesc')"
        [value]="title"
        (valueChange)="title = $event"
      />
      <basic-input
        [label]="t('input.authorDescLabel')"
        [placeholder]="t('input.authorDescPlaceholder')"
        [inputDescription]="t('input.authorDescDesc')"
        [value]="description"
        (valueChange)="description = $event"
      />

      <basic-button
        *ngIf="!addingSocial"
        [label]="t('button.addNewSocial')"
        (buttonClick)="addingSocial = true"
      />

      <basic-button
        *ngIf="addingSocial"
        [label]="t('button.addSocial')"
        [disabled]="addingSocialDisabled()"
        (buttonClick)="addSocial()"
      />

      <div *ngIf="addingSocial">
        <basic-input
          [label]="t('input.socialLinkLabel')"
          [placeholder]="t('input.socialLinkPlaceholder')"
          [inputDescription]="t('input.socialLinkDesc')"
          [showError]="!validationService.isFQDN(socialLink)"
          [errorMessage]="t('input.wrongFQDN')"
          [value]="socialLink"
          (valueChange)="socialLink = $event"
        />
        <basic-input
          [label]="t('input.socialTitleLabel')"
          [placeholder]="t('input.socialTitlePlaceholder')"
          [inputDescription]="t('input.socialTitleDesc')"
          [value]="socialTitle"
          (valueChange)="socialTitle = $event"
        />
      </div>

      <div *ngIf="socials.length > 0">
        <div
          class="social-box"
          *ngFor="let social of socials"
        >
          <div class="social-box-item">
            <basic-input
              [label]="t('input.socialLinkLabel')"
              [placeholder]="t('input.socialLinkPlaceholder')"
              [inputDescription]="t('input.socialLinkDesc')"
              [showError]="!validationService.isFQDN(social.link)"
              [errorMessage]="t('input.wrongFQDN')"
              [value]="social.link"
              (valueChange)="social.link = $event"
            />
          </div>
          <div class="social-box-item margin">
            <basic-input
              [label]="t('input.socialTitleLabel')"
              [placeholder]="t('input.socialTitlePlaceholder')"
              [inputDescription]="t('input.socialTitleDesc')"
              [value]="social.title"
              (valueChange)="social.title = $event"
            />
          </div>
          <div class="social-box-item buttons">
            <div class="social-box-item">
              <basic-button
                [label]="t('button.deleteSocial')"
                [danger]="true"
                (buttonClick)="deleteSocial(social)"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="select-photo-btn-wrapper">
        <basic-button
          [label]="t('button.selectPhoto')"
          (click)="fileInput.click()"
        />
      </div>

      <div class="picture-preview">
        <img
          *ngIf="profilePicture"
          [src]="profilePicture"
          (click)="clearProfilePicture()"
          class="author-main-picture"
          alt="author-picture"
        />
      </div>

      <input
        type="file"
        accept="image/*"
        (change)="selectFile($event)"
        #fileInput
        hidden
      />

      <div class="create-button-wrapper">
        <basic-button
          [fillButton]="true"
          [label]="t('button.createAuthor')"
          [disabled]="disableCreateAuthorButton()"
          (buttonClick)="createAuthor()"
        />
      </div>
    </div>
  </ng-container>
</layout-default>
