@import 'variables';

.create-author-wrapper {
  width: 60%;
  margin: 0 auto 150px auto;
}

.author-main-picture {
  cursor: pointer;
  object-fit: cover;
}

.social-box {
  display: flex;
}

.social-box-item {
  width: 100%;

  &.margin {
    margin: 0 10px;
  }

  &.buttons {
    display: flex;
    align-items: center;
  }
}
