<h2 class="third-title flex" *ngIf="!hideHeader">
  <span>Generate recovery keys&nbsp;</span>
  <basic-emoji emoji="old-key.png" [width]="32" [height]="32"/>
</h2>

<p class="paragraph" [ngClass]="{ 'on-white': onWhite }">
  Once user account is created, it is required to set up recovery keys and passphrase for it. In case if you lose access to your phone/authenticator application, you will be able to reset them using recovery keys.
</p>
<p class="paragraph" [ngClass]="{ 'on-white': onWhite }">
  Usage of recovery keys deletes both 2FA and phone from your account so you can set them up from the scratch.
</p>
<p class="paragraph" [ngClass]="{ 'on-white': onWhite }">
  Keep in mind, that recovery keys are only for one-time use. Once they are used, you will be required to generate new ones. Here is how it works:
</p>

<ol class="options-list">
  <li class="option-item" [ngClass]="{ 'on-white': onWhite }">
    You are providing simple passphrase and get the set of recovery keys.
  </li>
  <li class="option-item" [ngClass]="{ 'on-white': onWhite }">
    Once you want to recover your account and reset MFA/phone, you are providing passphrase and keys and resetting both MFA/phone.
  </li>
  <li class="option-item" [ngClass]="{ 'on-white': onWhite }">
    When you log in to your account after reset, you will be prompted to set up MFA/phone from the scratch.
  </li>
</ol>

<div *ngIf="!recoveryKeysGenerated">
  <basic-input
    type="passphrase"
    [label]="'Passphrase'"
    [placeholder]="'Provide the passphrase'"
    [inputDescription]="'Passphrase can be anything, it will be used to encrypt recovery keys.'"
    [errorMessage]="'Min length of passphrase is 8 symbols, max is 128'"
    [showError]="!isPassphraseValid()"
    [minLength]="8"
    [maxLength]="128"
    [onWhite]="onWhite"
    [value]="passphrase"
    (valueChange)="passphrase = $event"
  />

  <div class="last-button">
    <basic-button
      [onWhite]="onWhite"
      [label]="'Continue'"
      [disabled]="!passphrase || !isPassphraseValid()"
      (buttonClick)="generateRecoveryKeys()"
    />
  </div>
</div>

<div *ngIf="recoveryKeysGenerated">
  <basic-input
    *ngFor="let key of recoveryKeys; let i = index"
    [onWhite]="onWhite"
    [label]="'Recovery key ' + i + 1"
    [value]="key"
    [readOnly]="true"
    [disabled]="keysCopiedEmitDisable"
  />

  <basic-button
    [onWhite]="onWhite"
    [label]="'Download recovery keys'"
    [disabled]="keysCopiedEmitDisable"
    (buttonClick)="downloadRecoveryKeys()"
  />

  <div class="last-button">
    <basic-button
      [onWhite]="onWhite"
      [disabled]="keysCopiedEmitDisable"
      [label]="'I have copied/downloaded/saved recovery keys'"
      [fillButton]="true"
      (buttonClick)="keysCopied()"
    />
  </div>
</div>
