@import 'variables';

.page-container {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;

  &.no-footer {
    padding-bottom: 0;
  }

  &.no-header {
    padding-top: 20px;
  }
}
