<div class="page-container">
  <dashboard-sidebar
    *ngIf="showSideBar"
    [userInfo]="userInfo"
    [isSidebarOpen]="isSidebarOpen"
    (closeSidebar)="isSidebarOpen = false"
  />

  <layout-header
    *ngIf="showHeader"
    [showHeaderBurger]="showHeaderBurger"
    (openSidebar)="isSidebarOpen = true"
  />

  <div
    class="content-wrapper"
    [ngClass]="{
      'no-footer': !showFooter,
      'no-header': !showHeader,
      'with-preview': withPreview
    }"
  >
    <ng-content />
  </div>

  <layout-footer *ngIf="showFooter"/>
</div>
