@import 'variables';

.create-post-wrapper {
  width: 60%;
  margin: 0 auto 150px auto;
}

.post-tags-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.post-tag {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-right: 5px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background: var(--color-hover);
  }
}

.create-button-wrapper {
  margin-top: 20px;
}

.article-category-dropdown {
  margin-bottom: 20px;
}

.select-photo-btn-wrapper {
  margin-bottom: 20px;
}

.article-main-picture {
  cursor: pointer;
  object-fit: cover;
}

.picture-preview {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
