@import 'variables';

.create-certification-wrapper {
  width: 60%;
  margin: 0 auto 150px auto;
}

.create-button-wrapper {
  margin-top: 20px;
}

.cert-doc-info {
  padding: 20px
}

.cert-doc-pdf-preview {
  width: 400px;
  height: 500px;
}
