<div>
  <h2 class="third-title flex">
    <span>Secure your account&nbsp;</span>
    <basic-emoji emoji="shield.png" [width]="32" [height]="32"/>
  </h2>

  <p class="paragraph">According to Security & Privacy policies you are obligated to secure your personal account with additional measures. This measure is multi-factor authentication (MFA/2FA).</p>

  <basic-dropdown
    [options]="[{ key: 'mfa', value: 'Authentication application' }]"
    (selectedOption)="changeMfaOption()"
    defaultLabel="Select MFA option"
  />

  <div *ngIf="selectedMfaOption?.key === 'mfa'">
    <basic-qr-mfa
      [qrCode]="qrCode"
      [twoFaToken]="twoFaToken"
      [showQr]="showQr"
      (code)="code = $event"
    />
  </div>

  <div class="last-button">
    <basic-button
      label="Continue"
      [disabled]="!isAllFieldsCorrect()"
      (buttonClick)="setUserMfa()"
    />
  </div>
</div>
