<layout-default
  [userInfo]="userInfo"
>
  <div class="create-post-wrapper">
    <h1>Create new post</h1>
    <basic-input
      [label]="'Post name'"
      [placeholder]="'Provide the name of the post'"
      [inputDescription]="'The name of the post will be the main title seen by users, also, this name will be used in slug'"
      [value]="postName"
      (valueChange)="postName = $event"
    />
    <basic-input
      [label]="'Post description'"
      [placeholder]="'Provide the description of the post'"
      [inputDescription]="'The description is going to be used as a short introduction to the post'"
      [value]="postDescription"
      (valueChange)="postDescription = $event"
    />
    <basic-input
      [label]="'Post tags'"
      [placeholder]="'Provide the tags of the post'"
      [inputDescription]="'Use space bar in order to push the tag to the list of post tags'"
      [value]="postTag"
      (valueChange)="postTag = $event"
      (onSpace)="addPostTag()"
    />

    <div class="post-tags-wrapper" *ngIf="postTags">
      <div *ngFor="let postTag of postTags">
        <p class="post-tag" (click)="deletePostTag(postTag)">{{ postTag }}</p>
      </div>
    </div>

    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [ngModel]="html"
        (ngModelChange)="onHtmlChange($event)"
        [disabled]="false"
        [placeholder]="'Let\'s write something!'"
      ></ngx-editor>
    </div>

    <div class="create-button-wrapper">
      <basic-button
        [fillButton]="true"
        [label]="'Create post'"
        [disabled]="disableCreatePostButton()"
        (buttonClick)="createPost()"
      />
    </div>
  </div>
</layout-default>
