<ng-container *transloco="let t">
  <div class="sidebar-container" *ngIf="isSidebarOpen" (click)="handleCloseSidebar()">
    <div class="sidebar-box" [@slideInOut]="true">
      <div>
        <div class="sidebar-user-welcome">
          <h1>{{ t('sidebar.sidebarWelcomeTitle', { firstName: userInfo.firstName, lastName: userInfo.lastName }) }}</h1>
          <div class="sidebar-user-info">
            <p>{{ t('sidebar.sidebarUserFullName') }}: <b>{{ userInfo.firstName }} {{ userInfo.lastName }}</b></p>
            <p>{{ t('sidebar.sidebarUserEmail') }}: <b>{{ userInfo.email }}</b></p>
            <p>{{ t('sidebar.sidebarUserId') }}: <b>{{ userInfo.userIdHash }}</b></p>
          </div>
        </div>
        <div class="sidebar-side">
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.createArticle')"
              (buttonClick)="handleRedirect('account/create-article')"
              [fillButton]="true"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.yourArticles')"
              (buttonClick)="handleRedirect('account/articles')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.categories')"
              (buttonClick)="handleRedirect('account/categories')"
            />
          </div>
        </div>
      </div>

      <div class="logout-sidebar-side">
        <basic-button
          [label]="t('button.logOut')"
          (buttonClick)="logout()"
        />
      </div>
    </div>
  </div>
</ng-container>
