<ng-container *transloco="let t">
  <div class="sidebar-container" *ngIf="isSidebarOpen" (click)="handleCloseSidebar()">
    <div class="sidebar-box" [@slideInOut]="true">
      <div>
        <div class="sidebar-user-welcome">
          <h1>{{ t('sidebar.sidebarWelcomeTitle', { firstName: userInfo.firstName, lastName: userInfo.lastName }) }}</h1>
          <div class="sidebar-user-info">
            <p>{{ t('sidebar.sidebarUserFullName') }}: <b>{{ userInfo.firstName }} {{ userInfo.lastName }}</b></p>
            <p>{{ t('sidebar.sidebarUserEmail') }}: <b>{{ userInfo.email }}</b></p>
            <p>{{ t('sidebar.sidebarUserId') }}: <b>{{ userInfo.userIdHash }}</b></p>
          </div>
        </div>

        <div class="sidebar-side">
          <h3>{{ t('sidebar.sidebarArticlesTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.createArticle')"
              (buttonClick)="handleRedirect('account/create-article')"
              [fillButton]="true"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.yourArticles')"
              (buttonClick)="handleRedirect('account/articles')"
            />
          </div>

          <h3>{{ t('sidebar.sidebarCategoriesTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.categories')"
              (buttonClick)="handleRedirect('account/categories')"
            />
          </div>

          <h3>{{ t('sidebar.sidebarAuthorsTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [fillButton]="true"
              [label]="t('button.createAuthor')"
              (buttonClick)="handleRedirect('account/create-author')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.authors')"
              (buttonClick)="handleRedirect('account/authors')"
            />
          </div>

          <h3>{{ t('sidebar.sidebarCertsTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [fillButton]="true"
              [label]="t('button.createCert')"
              (buttonClick)="handleRedirect('account/create-certification')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.certifications')"
              (buttonClick)="handleRedirect('account/certifications')"
            />
          </div>

          <h3>{{ t('sidebar.sidebarExperienceTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [fillButton]="true"
              [label]="t('button.createExperience')"
              (buttonClick)="handleRedirect('account/create-experience')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.experiences')"
              (buttonClick)="handleRedirect('account/experiences')"
            />
          </div>

          <h3>{{ t('sidebar.sidebarProjectsTitle') }}</h3>

          <div class="sidebar-button-wrapper">
            <basic-button
              [fillButton]="true"
              [label]="t('button.createProject')"
              (buttonClick)="handleRedirect('account/create-project')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.projects')"
              (buttonClick)="handleRedirect('account/projects')"
            />
          </div>
        </div>
      </div>

      <div class="logout-sidebar-side">
        <basic-button
          [label]="t('button.logOut')"
          (buttonClick)="logout()"
        />
      </div>
    </div>
  </div>
</ng-container>
