@import 'variables';

.certification-wrapper {
  width: 60%;
  margin: 30px auto;
}

.certification-mgmt-buttons {
  display: flex;
}

.certification-mgmt-button {
  width: 100%;

  &.right {
    margin-right: 5px;
  }

  &.left {
    margin-left: 5px;
  }
}

.cert-date {
  font-size: 12px;
  opacity: .5;
  margin: 3px 0;
}

.edit-button-wrapper {
  margin: 20px 0;
}
