@import 'variables';

.certification-wrapper {
  width: 60%;
  margin: 30px auto;
}

.certification-mgmt-buttons {
  display: flex;
}

.certification-mgmt-button {
  width: 100%;

  &.right {
    margin-right: 5px;
  }

  &.left {
    margin-left: 5px;
  }
}

.edit-button-wrapper {
  margin: 20px 0;
}

.certification-preview-mode {
  margin-top: 20px;
  display: flex;
}

.cert-preview-mode-text {
  width: 50%;
}

.cert-preview-mode-content {
  width: 50%;
}

.cert-preview-mode-pic {
  max-width: 500px;
}
